.cover__link {
  min-height: 740px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(../../../images/cover-trains.jpg) center / cover;
  position: relative;
}

.cover__link::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2A2C2F;
  opacity: .3;
  transition: .5s;
}

@media (min-width: 1024px) {
  .cover__link:hover {
    cursor: pointer;
  }

  .cover__link:hover::before {
    opacity: .8;
  }
}


@media (max-width: 1024px) {
  .cover__link {
    min-height: 640px;
  }
}

@media (max-width: 768px) {
  .cover__link {
    min-height: 480px;
  }
}

@media (max-width: 425px) {
  .cover__link {
    min-height: 265px;
  }
}

@media (max-width: 320px) {
  .cover__link {
    min-height: 200px;
  }
}