.page {
  font-family: Inter, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #2A2C2F;
  padding-top: 28px;
  padding-bottom: 24px;
  min-width: 320px;
}

@media (max-width: 425px) {
  .page {
    padding-top: 16px;
  }
}