.intro__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .intro__list {
    max-width: calc((720 / 768) * 100%);
  }
}

@media (min-width: 1024px) {
  .intro__list {
    max-width: calc((690 / 928) * 100%);
  }
}