.content__places {
  width: 100%;
  margin: 0 auto 66px;
}

@media (min-width: 768px) {
  .content__places {
    margin-bottom: 90px;
  }
}

@media (min-width: 1024px) {
  .content__places {
    margin-bottom: 92px;
  }
}