.content__photo-grid {
  margin: 0 auto 64px;
  max-width: calc((288 / 320) * 100%);
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 12px;
}

@media (min-width: 768px) {
  .content__photo-grid {
    max-width: calc((720 / 768) * 100%);
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-bottom: 88px;
  }
}

@media (min-width: 1024px) {
  .content__photo-grid {
    max-width: calc((928 / 1024) * 100%);
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
    margin-bottom: 92px;
  }
}

@media (min-width: 1280px) {
  .content__photo-grid {
    max-width: 1184px;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
}