.content__intro {
    margin: 92px 0;
    max-width: 690px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .content__intro {
        max-width: 720px;
        margin-top: 88px;
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 320px) {
    .content__intro {
        margin: 64px auto;
        max-width: 288px;
    }
}