.intro__text {
  width: 100%;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  color: #FFFFFF;
  margin: 0 0 33px 0;
}

@media (min-width: 768px) {
  .intro__text {
    max-width: calc((720 / 768) * 100%);
  }
}

@media (min-width: 1024px) {
  .intro__text {
    max-width: calc((690 / 928) * 100%);
  }
}