.place__link {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
  transition: .5s;
}


@media (min-width: 1024px) {
  .place__link:hover {
    opacity: .8;
  }
}