.content__lead {
  margin: 0 auto 64px;
  width: 100%;
}

@media (min-width: 768px) {
  .content__lead {
    margin-bottom: 88px;
  }
}

@media (min-width: 1024px) {
  .content__lead {
    max-width: calc((928 / 1024) * 100%);
    margin-bottom: 92px;
  }
}

@media (min-width: 1280px) {
  .content__lead {
    max-width: 984px;
  }
}