.intro__title {
  width: 100%;
  margin: 0 0 40px 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .intro__title {
    max-width: calc((720 / 768) * 100%);
    font-size: 54px;
    line-height: 58px;
  }
}

@media (min-width: 1024px) {
  .intro__title {
    max-width: calc((690 / 928) * 100%);
    font-size: 54px;
    line-height: 58px;
  }
}